@import "tailwindcss";

@layer utilities {

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #4b5563;
        /* gray-600 */
        border-radius: 3px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #6b7280;
        /* gray-500 */
    }
}

@layer utilities {
    .draggable {
        -webkit-app-region: drag;
    }

    .draggable button,
    .draggable a,
    .draggable input,
    .draggable [role="button"] {
        -webkit-app-region: no-drag;
    }
}